*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;

}
body{
	position: absolute;
	text-align: center;
	width: 1400px;
	height: 1895px;
	background: #FAFAFA;
}
.logo{
	position: absolute;
	width: 119px;
	height: 28px;
	left: 10px;
	top: 15px;
	text-align: center;
	align-items: center;
}
.logo img{
	position: absolute;
	width: 80px;
	height: 24px;
	left: 699px;
	top: 82px
}
.header{
	position: absolute;
	text-align: center;
	width: 1440px;
	height: 358px;
	left: -32px;
	top: 169px;
}
.header .center-description{
	position: absolute;
	width: 540px;
	height: 304px;
	left: 50px;
	top: -180px;
}

.header .center-description #description{
	position: absolute;
	width: 445px;
	height: 128px;
	left: 498px;
	top: 216px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 900;
	font-size: 64px;
	line-height: 64px;
	text-align: center;
	color: #28283D;
}

.center-description #sub-description{
		position: absolute;
		width: 540px;
		height: 52px;
		left: 450px;
		top: 378px;
		font-family: 'Red Hat Display';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 26px;
		text-align: center;
		color: #87879D;
}
.center-description .buttons{
	position: absolute;
	width: 348px;
	height: 58px;
	left: 10px;
	top: 20px;
}

.buttons #download{
	position: absolute;
	border-radius: 50px;
	background: #71C0D4;
	color: #fff;
	width: 193px;
	height: 58px;
	left: 546px;
	top: 462px;	
}

.center-description .buttons #what{
	position: absolute;
	border-radius: 50px;
	background: #B18BDD;
	color: #fff;
	width: 139px;
	height: 58px;
	left: 755px;
	top: 462px;
}


#picture1{
	position: absolute;
	border-radius: 100px;
	width: 110px;
	height: 110px;
	left: 52px;
	top: 50px;
}

#picture2{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 52px;
	top: 202px;
}
#picture3{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 200px;
	top: 25px;
}
#picture4{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 200px;
	top: 150px;
}
#picture5{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 350px;
	top: 50px;
}
#picture6{
	border-radius: 100px;border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 350px;
	top: 202px;
}
#picture7{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 1050px;
	top: 50px;
}
#picture8{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 1050px;
	top: 202px;
}
#picture9{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 1220px;
	top: 90px;
}
#picture10{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 1220px;
	top: 230px;
}
#picture11{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 1362px;
	top: 25px;
}
#picture12{
	border-radius: 100px;
	position: absolute;
	width: 110px;
	height: 110px;
	left: 1362px;
	top: 150px;
}
.body_container{
	position: absolute;
	width: 1110px;
	height: 242px;
	left: 165px;
	top: -800px;
}

.body_container div{
	position: absolute;
	width: 1110px;
	height: 242px;
	left: 165px;
	top: 841px;

}
.body_container div #Broda{
	position: absolute;
	height: 242px;
	left: -290px;
	top: 841px;
	background: #D8D8D8;
	border-radius: 8px;
	width: 255px;
}

.body_container div #Brod{
	position: absolute;
	width: 255px;
	height: 242px;
	left: 5px;
	top: 841px;
	background: #D8D8D8;
	border-radius: 8px;
}

.body_container div #Bro{
	position: absolute;
	width: 255px;
	height: 242px;
	left: 300px;
	top: 841px;
	background: #D8D8D8;
	border-radius: 8px;
}

.body_container div #Br{
	position: absolute;
	width: 255px;
	height: 242px;
	left: 595px;
	top: 841px;
	background: #D8D8D8;
	border-radius: 8px;
}

.bottom-description{
	position: absolute;
	width: 1440px;
	height: 308px;
	left: 0px;
	background: #71C0D4;
	top: 1200px;
}

.bottom-description img{
	
	position: absolute;
	width: 308px;
	height: 308px;
	left: 600px;
	opacity: 0.2;
}
.footer1{
	position: absolute;
	width: 200px;
	height: 50px;
	left: 1050px;
	top: 1703px;

}
.footer1 .footer1-button #download_footer{
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #B18BDD;
	border-radius: 29px;
}
@media(max-width: 768px){
	body{
			position: absolute;
			width: 768px;
			height: 2128px;
			background: #FAFAFA;
		}
		.logo{
			position: absolute;
			width: 119px;
			height: 28px;
			left: 324px;
			top: 48px;
	}

		.logo img{
			position: absolute;
			position: absolute;
			width: 80px;
			height: 24px;
			left: 200px;
			top: 50px;
	}
		.header{
			position: absolute;
			width: 768px;
			height: 303px;
			left: 300px;
			top: 140px;
	}

		.header .center-description{
			position: absolute;
			width: 457px;
			height: 292px;
			left: -120px;
			top: -50px;
	}
	.header .center-description #description{
	position: absolute;
		width: 339px;
		height: 106.99px;
		left: 214px;
		top: 515px;
		font-family: 'Red Hat Display';
		font-style: normal;
		font-weight: 900;
		font-size: 48px;
		line-height: 48px;
		text-align: center;
		color: #28283D;
	}
	.center-description #sub-description{
	position: absolute;
	width: 457px;
	height: 57.95px;
	left: 155px;
	top: 648.74px;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	color: #87879D;
	}
	.center-description .buttons{
		position: absolute;
		width: 348px;
		height: 58px;
		left: -40px;
		top: 10px;
	}

	.center-description .buttons #download{
		position: absolute;
		width: 100px;
		height: 25px;
		left: 290px;
		top: 719px;
	}
	.center-description .buttons #what{
		position: absolute;
		width: 100px;
		height: 25px;
		left: 419px;
		top: 719px;
	}
	#picture1{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 56px;
		top: 195px;

	}
		#picture2{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 56px;
		top: 290px;
	}
	#picture3{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 160px;
		top: 140px;
	}
	#picture4{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 160px;
		top: 230px;
	}
	#picture5{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 250px;
		top: 180px
	}
	#picture6{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 250px;
		top: 290px;
	}
	#picture7{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 325px;
		top: 140px;
	}
	#picture8{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 325px;
		top: 230px;
	}
	#picture9{
		position: absolute;
		width: 70px;
		height:70px;
		left: 399px;
		top: 190px;
	}
	#picture10{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 399px;
		top: 290px;
	}
	#picture11{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 500px;
		top: 178px;
	} 
	#picture12{
		position: absolute;
		width: 70px;
		height: 70px;
		left: 500px;
		top: 278px;
	}
	.body_container{
		position: absolute;
		width: 768px;
		height: 156px;
		left: 300px;
		top: 500px;
	}
	.body_container div #Broda{
		position: absolute;
		width: 150px;
		height:150px;
		left: -200px;
		top: -395px;
		background: #D8D8D8;
		border-radius: 8px;
	}
	.body_container div #Brod{
		position: absolute;
		width: 150px;
		height: 150px;
		left: -20px;
		top: -395px;
	}

	.body_container div #Bro{
		position: absolute;
		width: 150px;
		height: 150px;
		left: 160px;
		top: -395px;
	}
	.body_container div #Br{
		position: absolute;
		width: 150px;
		height: 150px;
		left: 340px;
		top: -400px;
	}
	.bottom{
		position: absolute;
		width: 573px;
		height: 240px;
		left: 97px;
		top: 1268px;
	}

	.bottom h5{
		position: absolute;
		height: 26px;
		left: 26%;
		right: 26.7%;
		top: calc(50% - 26px/2 - 107px);
		font-family: 'Red Hat Display';
		font-style: normal;
		font-weight: 900;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: 4px;
		text-transform: uppercase;
		color: #4D96A9;
	}
	.bottom h4{
		position: absolute;
		left: 11.34%;
		right: 10.99%;
		top: 17.5%;
		bottom: 45.83%;
		font-family: 'Red Hat Display';
		font-style: normal;
		font-weight: 900;
		font-size: 40px;
		line-height: 44px;
		text-align: center;
		color: #28283D;
	}

	.bottom p{
		position: absolute;
		left: 0%;
		right: 0%;
		top: 67.5%;
		bottom: 0%;
		font-family: 'Red Hat Display';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 26px;
		text-align: center;
		color: #87879D;
	}

	.bottom-description{
		position: absolute;
		background: #71C0D4;
		text-align: center;
		width: 1000px;
		height: 540px;
		left: 200px;
		top: 1588px;
	}
	.bottom-description img{
			position: absolute;
			width: 540px;
			height: 540px;
			left: 250px;
			opacity: 0.2
	}
	.footer1{
		position: absolute;
		width: 193px;
		height: 58px;
		left: 650px;
		top: 2004px;
	}
}

@media(max-width: 400px){
	body{
		position: relative;
		width: 375px;
		height: 2215px;
		background: #FAFAFA;
	}
	.logo{
		position: absolute;
		width: 119px;
		height: 28px;
		left: 400px;
		top: 48px;
	}
	.header{
		position: absolute;
		width: 375px;
		height: 153px;
		left: 400px;
		top: 130px;
	}

	.center-description .buttons #download{
		position: absolute;
		width: 170px;
		height: 58px;
		left: 350px;
		top: 720px;
	}
	.center-description .buttons #what{
		position: absolute;
		width: 139px;
		height: 58px;
		left: 370px;
		top: 800px;
	}

	.body_container{
		position: absolute;
		width: 327px;
		height: 310px;
		left: 200px;
		top: 700px;
	}
	 .body_container div #Broda{
		position: absolute;
		width: 151px;
		height: 143px;
		left: 350px;
		top: -400px;
	}
	 .body_container div #Brod{
		position: absolute;
		width: 151px;
		height: 143px;
		left: 150px;
		top: -405px;
	}
	.body_container div #Bro{
		position: absolute;
		width: 151px;
		height: 143px;
		left: 150px;
		top: -200px;
	}
	.body_container div	#Br{
		position: absolute;
		width: 151px;
		height: 143px;
		left: 350px;
		top: -200px;
	}

	.bottom{
		position: absolute;
		width: 327px;
		height: 284px;
		left: 24px;
		top: 1327px;
	}

	.bottom-description{
		position: absolute;
		background-color:#D96A9;
		width: 600px;
		height: 540px;
		left: 500px;
		top: 1870px;
	}

	.bottom-description img{
		position: absolute;
		width: 400px;
		height: 540px;
		left:110px;
	}


}

}